/gradle/wrapper/gradle-wrapper.properties
##----------Android----------
# build
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/

# gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
local.properties

##----------idea----------
*.iml
.idea/
*.ipr
*.iws

# Android Studio Navigation editor temp files
.navigation/

##----------Other----------
# osx
*~
.DS_Store
gradle.properties
app/libs/
app/src/main/assets/
.gradle/5.1.1/vcsMetadata-1/
.gradle/5.6.4/vcsMetadata-1/
.idea/sonarlint/issuestore/0/1/
.idea/sonarlint/issuestore/0/9/09385d10f696c145412e0fd3f5a1b9f52919ec00
.idea/sonarlint/issuestore/0/e/
.idea/sonarlint/issuestore/1/4/143442169afaeba836a7c98cc451eb6cdb9f5a9d
.idea/sonarlint/issuestore/1/9/
.idea/sonarlint/issuestore/1/a/
.idea/sonarlint/issuestore/1/e/
.idea/sonarlint/issuestore/2/0/
.idea/sonarlint/issuestore/2/3/
.idea/sonarlint/issuestore/2/9/
.idea/sonarlint/issuestore/2/e/
.idea/sonarlint/issuestore/2/f/2f60f79da676ce901326076960cb9dd4d11d1243
.idea/sonarlint/issuestore/3/
.idea/sonarlint/issuestore/4/0/
.idea/sonarlint/issuestore/4/2/
.idea/sonarlint/issuestore/4/9/
.idea/sonarlint/issuestore/5/3/
.idea/sonarlint/issuestore/5/b/5bb734a06b0ef0dfc450e302d1d74d4c152178d5
.idea/sonarlint/issuestore/6/8/
.idea/sonarlint/issuestore/6/e/6ecd6000a7b6f4a2884412ff19f74193ed089648
.idea/sonarlint/issuestore/6/f/
.idea/sonarlint/issuestore/7/2/
.idea/sonarlint/issuestore/7/9/
.idea/sonarlint/issuestore/7/b/
.idea/sonarlint/issuestore/7/e/
.idea/sonarlint/issuestore/8/0/8018c6987c10e8296f0e9c210b1d6a487f8b2262
.idea/sonarlint/issuestore/8/8/
.idea/sonarlint/issuestore/8/b/
.idea/sonarlint/issuestore/9/a/
.idea/sonarlint/issuestore/9/c/
.idea/sonarlint/issuestore/a/c/
.idea/sonarlint/issuestore/a/e/
.idea/sonarlint/issuestore/b/6/
.idea/sonarlint/issuestore/b/7/
.idea/sonarlint/issuestore/b/8/
.idea/sonarlint/issuestore/b/a/
.idea/sonarlint/issuestore/c/2/
.idea/sonarlint/issuestore/c/3/
.idea/sonarlint/issuestore/c/8/
.idea/sonarlint/issuestore/c/9/
.idea/sonarlint/issuestore/d/1/
.idea/sonarlint/issuestore/d/2/
.idea/sonarlint/issuestore/d/4/
.idea/sonarlint/issuestore/d/7/
.idea/sonarlint/issuestore/d/b/
.idea/sonarlint/issuestore/d/c/
.idea/sonarlint/issuestore/d/e/
.idea/sonarlint/issuestore/e/0/
.idea/sonarlint/issuestore/e/d/
.idea/sonarlint/issuestore/e/e/
.idea/sonarlint/issuestore/e/f/
.idea/sonarlint/issuestore/f/0/f0ce9208a20ebd9d1f763074c5870c3f31ef115a
.idea/sonarlint/issuestore/f/3/
